@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?display=swap&family=Courier+Prime");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #2c3a47;
  --font-family: "Courier Prime", monospace;
  --font-color: #4a4a4a;
  --link: #445fb9;
  --light-link: lighten(#445fb9, 45%);
  --background-color: #ffffff;
  --note-width: 620px;
}

html {
  overflow-y: auto;
  overflow-x: auto;
}

body {
  height: 100vh;
  scroll-behavior: smooth;
  overflow-y: auto;
}

@media screen and (min-width: 769px) {

  html,
  body {
    overflow-y: hidden;
  }
}

.columns {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

#app {
  height: 100vh;
  display: flex;
}

a {
  &.external-link {
    text-decoration: underline;

    &::after {
      margin-left: 0.4rem;
      content: url("/assets/external-link.svg");
    }
  }
}

.notif-success {
  background-color: oklch(var(--a));
  color: oklch(var(--ac));
}

.repo-note {
  font-family: var(--font-family);
  transition-property: color, background-color;
  transition: cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s;
}

.table-wrapper {
  overflow-x: auto;
}

.btn {
  font-size: 1rem;
}

@media print {

  html,
  body {
    overflow-y: auto;
    height: auto;
  }

  #app {
    height: auto;
  }
}

pre {
  code {
    margin-right: 3rem;
  }
}

.markdown-alert {
  padding: 1rem;
  background-color: #ecf0f1;
  border-radius: 1rem;
  margin: 1rem 0;
}